<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>cn.rongcloud.im.flutter.example</key>
		<string>cn.rongcloud.im.flutter.example</string>
	</dict>
	<key>signingCertificate</key>
	<string>E8D9D08EEE3C4D233F0039BBCF7F44F9FE9D5DC3</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>9CVMN4UZK4</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
